@import './stylesheets/stars.css';
@import './stylesheets/clouds.css';
@import './stylesheets/bubbles.css';
@import './stylesheets/snow.css';

body {
  margin: 0;
  padding: 0;
  color: white;
}

body, html {
  height: 100%
}
#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align:center;
}
b, img, video {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position:relative;
  font-size:30px;
}

.fotos, .fotos2, .fotos3, .fotos4, .fotos5 {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 82.5%;
  font: 400 24px/1 'Kaushan Script', cursive;
  color: #888;
}

video {
  margin-left: 20%;
}

.video-container {
  width: 100%;
  height: 100vh;
}
